doctype html
html
    head
        title= title
        link(rel="stylesheet", href="/style.css")
        body
            include header.pug        
        if(response.getLogin)
            include logged.pug
        else
            include log.pug             