doctype html
html
    head
        title= title
        link(rel="stylesheet", href="/style.css")
    body
        h2 Logowanie
        form(action="/", method="GET")
            input.logText(type="text",name="getLogin", placeholder="Podaj swój login") 
            input.logButton(type="submit", value="Zaloguj")