doctype html
html
    head
        title='Logowanie'
        link(rel="stylesheet", href="/style.css")
        body
            h1 Witaj na stronie
            p Żeby uzyskać dostęp musisz się zalogować
            a.logButton(href='/auth/google') Logowanie