if(response.getLogin=='user')
    h3 Zalogowany jako #{user.name}, #{user.firstName} #{user.lastName}
    p Teraz możesz zobaczyć kotka
    img(src="cat.jpg")
else
    h2 Niepoprawne logowanie
    include log.pug